<div class="horizontal-end mt-3 mb-3 me-3">
  <button mat-flat-button class="me-2 " [routerLink]="['/create-video']">Crear</button>
</div>

<mat-card appearance="outlined" class="ms-3 me-4 mt-3 p-3" *ngFor="let item of listVideos">
  <div class="row-video">
    <video width="20%" height="auto" controls>
      <source [src]="getVideo(item.id_video).safeUrl" type="video/mp4" />
      Tu navegador no soporta la reproducción de video.
    </video>
    <p class="item-name vertical-center ms-3">
      {{item.name}}

    </p>
    <p class="item-view">Views : {{item.views}}</p>
  </div>
  <div class="row-buttons horizontal-end">
    <button mat-flat-button class="me-1 bg-view" (click)="openDialog(item)">Ver</button>
    <button mat-flat-button class="bg-delete ms-1" (click)="openDialogDelete(item)">Eliminar</button>
  </div>
</mat-card>
